:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 0.3s;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.login-form-component-root {
  --border-radius-1x: 2px;
  --border-radius-2x: calc(var(--border-radius-1x) * 2);
  --spacing-half: 4px;
  --spacing-1x: 8px;
  --spacing-2x: calc(var(--spacing-1x) * 2);
  --spacing-3x: calc(var(--spacing-1x) * 3);
  --spacing-4x: calc(var(--spacing-1x) * 4);
  --font-size-16: 16px;
  --login-form-el-height: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #000;
  height: 100%;
  min-width: 400px;
  margin: 0 auto;
}
.form-container {
  border-radius: var(--border-radius-2x);
  background-color: #fff;
  padding: var(--spacing-4x);
  box-sizing: border-box;
}
.form-container label {
  display: block;
  margin-bottom: var(--spacing-half);
  box-sizing: border-box;
}
.form-container input {
  height: var(--login-form-el-height);
  width: 100%;
  box-sizing: border-box;
  line-height: var(--login-form-el-height);
  font-size: var(--font-size-16);
  color: #000;
  background-color: #f1f1f1;
  outline: none;
  padding: 0 var(--spacing-2x);
  cursor: text;
  border: none;
  border-radius: var(--border-radius-1x);
}
.login-btn {
  display: block;
  border: none;
  padding: 0;
  height: var(--login-form-el-height);
  width: 100%;
  text-align: center;
  line-height: var(--login-btn-height);
  font-size: var(--font-size-16);
  border-radius: 0 0 10px 10px;
  margin: 0 0 var(--spacing-2x);
  cursor: pointer;
  font-weight: 500;
  background-color: #303030;
  color: #f1f1f1;
}
.rive-wrapper {
  width: 100%;
}
.rive-container {
  min-height: 300px;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.login-form-wrapper {
  width: 100%;
  max-width: 400px;
}
